#input{
    width:fit-content;
    margin:10px;
    border:1px solid black;
}
#calculator{
    border:2px solid black;
    width:200px;
    justify-content: center;
    background-color: lightblue;
}
.button{
    border-radius: 10%;
    width:35px;
    height:30px;
    margin:5px;
}